*{
    margin: 0;
    padding: 0;
}
table{
    width: 100%;
    border-collapse: collapse;
}
tbody{
    background-color: aliceblue;
}
thead th{
    padding: 10px;
    color: white;
    text-align: center;
    background-color:#2c3e50;
    text-align: left;
    font-size: 16px;
}
tbody td{
    padding: 12px 14px;
    font-size: 15px;
}
main{
    display: flex;
    justify-content: center;
    padding: 40px;
}