*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

nav ul{ 
    display: flex inline;
    gap: 15px;
    list-style: none;
}

nav ul li a{
    font-size: 25px;
    text-decoration: none;
    color: white;
    transition: 0.6s;
}

nav ul li a:hover{
    color: crimson;
}

body{
    background-color: aliceblue;
}

h2{padding: 20px 0px 0px 20px}

form{
    margin: 15px;
    padding: 15px;
    border: solid black 0.1px;
    text-align: center;
    border-radius: 8px;
    background-color: azure;
}

form h3{
    padding: 0px 0px 20px 0px;
}

button{
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 3px;
    width: 100px;
    height: 20px;
    margin: 20px 0px 0px 0px;
    transition: 0.3s;
}

button:hover{
    background-color: white;
    color: black;
}
section{
    margin: 10px;
    border: solid 0.03px;
    border-radius: 8px;
    background-color: rgba(132, 198, 255, 0.266);
}

.cards{
    margin: 20px;
    padding: 10px;
    border: solid 0.1px;
    border-radius: 3px;
    width: 90%;
    overflow-x: scroll;
    background-color: rgba(240, 248, 255, 0.5);
    display: flex inline;
    gap: 20px
}

.card{
    padding: 10px;
    border: solid black 0.1px;
    border-radius: 12px;
    min-width: 200px;
}