*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
}

body{
    background-color: #3D3D3D;
    color: white;
}

header{
    display: flex;
    justify-content: center;
}

.barra-pesquisa{
    margin: 10px 0;
    color: #ffffffbc;
    text-align: center;
    border: 1px white;
    border-radius: 20px;
    background-color: #ffffff4e;
    width: 40vw;
    cursor: pointer;
    font-size: 3vh;
    flex-direction: column;
}

.estilo{
    margin: 4vw;
}
.cards{
    background-color: rgba(128, 128, 128, 0.338);
    border-radius: 8px;
    padding: 2vw;
    display: flex inline;
    gap: 2vw;
    width: 90vw;
    overflow-x: scroll;
}
.card{
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 10px;
    font-family: sans-serif;
    min-width: 80px;
    height: 90px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card img{
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.232);
    border-radius: 10px;
    border: 1px;
}

.card p {
    position: relative;
    z-index: 1;
    top: 0;
}

.recente{
    margin: 4vw;
}
.musicas-recentes{
    background-color: rgba(128, 128, 128, 0.338);
    border-radius: 8px;
    padding: 2vw;
    display: flex ;
    flex-direction: column;
    gap: 2vw;
    width: 90vw;
    align-items: center;
}
.musica{
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 10px;
    font-family: sans-serif;
    width: 80vw;
    height: 30vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.musica img{
    width: 10vw;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.232);
    border-radius: 10px;
    border: 1px;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}