*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(214, 214, 214);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

header nav ul li a{
    color: white;
    text-decoration: none;
}


header nav ul li a:hover{
    color: slategray;
    text-decoration: none;
}

header nav ul li{
    display: flex inline;
    padding: 7px 15px;
}

.container{
    margin: 10px;
    background-color: slategray;
    padding: 10px;
    border-radius: 8px;
    border: solid 1px;
    box-shadow: gray 2px 4px 2px;
}

.cartoes{
    display: flex inline;
    gap: 15px;
    background-color: white;
    padding: 10px;
    border: solid black 1px;
    border-radius: 8px;
    max-width: 97%;
    overflow-x: auto;
}

.cartao{
    background-color: aliceblue;
    min-width: 400px;
    padding: 12px;
    height: 200px;
    border: solid 1px;
    box-shadow: black 2px 2px 2px;
    border-radius: 8px;
    overflow-y: auto;
}

.catao h3{
    padding: 10px;
}

.container h2{
    color: white;
    padding: 0px 10px 10px;
}