body{
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: aqua;
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    padding: 10px 0;
    text-align: center;
}

header h1{
    margin: 0;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul a{
    color: white;
    text-decoration: none;
}

nav ul li{
    display: inline;
    margin: 0 10px;
}
.banner{
    background: url(banner.gif) no-repeat center;
    padding: 100px;
    text-align: center;
    color: greenyellow;
}
.bannner h2{
    font-size: 35px;
}
section{
    padding: 20px;
    margin: 0 10px;
}
.cartao{
    color: black;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    display: inline-block;
    width: 200px;
    background-color: rgba(255,255,255,0.6);
    vertical-align: top;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0,3s ease, box-shadow 0,3s ease;
}
.cartao img{
    width:  100%;
    border-radius: 8px;
}
.cartao:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}